<!-- <%= JSON.stringify(result); %> -->

<div class="result">
  <a href="<%= result.product_link %>">
   <img class="resultImg" src="<%= result.image_link %>">
   <h3><%= result.name %></h3>
  </a>
  <!-- <p><%= result.description %></p> -->

  <% if(currentUser){ %>
    <form method="POST" action="/vanity">
      <input hidden type="text" name="name" value="<%= result.name %>">
      <input hidden type="text" name="productType" value=" <%= result.product_type %>">
      <input hidden type="text" name="imageLink" value=" <%= result.image_link %>">
      <input hidden type="text" name="productLink" value=" <%= result.product_link %>">
      <button class="btn" type="submit">Add to Vanity</button>
    </form>
  <% } %>
</div>