<header>
<h1>Welcome to Your Profile</h1>
<h2 class="userName"><%= user.username %></h2>
</header>

<div class="box">
  <div>
    <h2>Would you like to edit your profile?</h2>
    <form method="GET" action="/profile/update">
      <label for="email">Email:</label>
      <input type="text" name="email" value="<%= user.email %>">
      <label for="username">Username:</label>
      <input type="text" name="username" value="<%= user.username %>">
      <br>
      <label for="firstname">First Name:</label>
      <input type="text" name="firstname" value="<%= user.firstname %>">
      <label for="lastname">Last Name:</label>
      <input type="text" name="lastname" value="<%= user.lastname %>">
      <br>
      <input class="btn profileBtn btnColor" type="submit" name="submit" value="Update">
    </form>
  </div>
  <div>
    <h2>Would you like to delete your account?</h2>
    <h4>We'll be sad to see you go...</h4>
    <p>Account deletions are final and can not be undone.</p>
    <form method="POST" action="/profile/delete">
      <input hidden type="text" name="id" value="<%= user.id %>">
      <input class="btn profileBtn btnColor" type="submit" name="submit" value="Delete Account">
    </form> 
  </div>
</div>
